@model ShimMathAdmin.Models.CodeSpaceModels.CodeSpaceModel

@{
    ViewData["Title"] = "_CodeSpaceLayout";
}

<link rel="stylesheet" type="text/css" href="~/css/code-space.css" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#codeSpaceNavbar" aria-controls="codeSpaceNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="codeSpaceNavbar">
        <ul class="navbar-nav">
            @if (Model.CodeSpaceBodyView == "Views/CodeSpace/CodeSpaceHome/CodeSpaceHome.cshtml")
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index">Code Space Home</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index">Code Space Home</a>
                </li>
            }
            @if (Model.CodeSpaceBodyView == "Views/CodeSpace/CodeSpaceSpaceships.cshtml")
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Spaceships">My Spaceships</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Spaceships">My Spaceships</a>
                </li>
            }
            @if (Model.CodeSpaceBodyView == "Views/CodeSpace/CodeSpaceGamesList.cshtml")
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Games">Active Games</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Games">Active Games</a>
                </li>
            }
            @if (Model.CodeSpaceBodyView == "Views/CodeSpace/CodeSpaceCommunity.cshtml")
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Community">Community Forum</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-action="Community">Community Forum</a>
                </li>
            }
        </ul>
    </div>
</nav>

<div class="container">
    @await Html.PartialAsync("/" + Model.CodeSpaceBodyView, Model);
</div>

@section Scripts{
    <script src="~/lib/ckeditor-full/ckeditor.js"></script>
    <script src="~/js/code-space.js"></script>
    
}