@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ShimMath.com</h1>
    <p>This website is under construction.</p>
    <p>ShimMath is a family website</p>
</div>
